/*
 * manual theme for internal pages (new tab / home)
 */
@import "colors.css";

@-moz-document url(about:home), url(about:newtab) {
  :root {
    --newtab-background-color: var(--base00) !important;
    --newtab-background-color-secondary: var(--base01) !important;
    --newtab-text-primary-color: var(--base06) !important;
    --newtab-text-secondary-color: var(--base05) !important;
    --newtab-element-hover-color: var(--base01) !important;
    --newtab-element-active-color: var(--base01) !important;
    --newtab-element-secondary-hover-color: var(--base01) !important;
    --newtab-icon-primary-color: var(--base06) !important;
    --newtab-icon-secondary-color: var(--base05) !important;
    --newtab-border-primary-color: var(--base01) !important;
    --newtab-border-secondary-color: var(--base00) !important;
  }
}
