@import "colors.css";

window {
    background-color: rgba(29, 32, 33, 0.8);
    --view-bg-color: @base00;
    --accent-bg-color: @base05;
    font-family: monospace;
}

button {
    color: var(--view-fg-color);
    background-color: var(--view-bg-color);
    border: none;
    padding: 10px;
}

button label.action-name {
    font-size: 42px;
    font-weight: 800;
}

button label.keybind {
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 20px;
    background-color: var(--view-fg-color);
    color: var(--view-bg-color);
}

button:hover label.keybind,
button:focus label.keybind {
    opacity: 1;
}

button:focus,
button:hover {
    background-color: var(--accent-bg-color);
}

button:active {
    color: var(--accent-fg-color);
    background-color: var(--accent-bg-color);
}

button#shutdown {
    --view-fg-color: @base08;
}

button#hibernate {
    --view-fg-color: @base0d;
}

button#reboot {
    --view-fg-color: @base0c;
}

button#lock {
    --view-fg-color: @base0a;
}

button#logout {
    --view-fg-color: @base09;
}

button#suspend {
    --view-fg-color: @base0e;
}
